In [1]:
import warnings
warnings.filterwarnings('ignore')

import re
import time
import pandas as pd
import numpy as np

from bs4 import BeautifulSoup
import requests

from selenium import webdriver
from selenium.webdriver.common.keys import Keys

## Question 1

Write a python program to display all the header tags from
‘en.wikipedia.org/wiki/Main_Page’.

In [57]:
wiki_link='https://en.wikipedia.org/wiki/Main_Page'
tag='h2'
tags=['h1','h2','h3']

In [58]:
def webscraping(link,tag):
    wiki_page=requests.get(link)
    
    wiki=BeautifulSoup(wiki_page.content)
    
    titles=wiki.find_all(tag)
    
    headings=[]
    for title in titles:
        headings.append(title.text.replace('\n',''))
    
    return headings

Headings in h2 tag

In [59]:
webscraping(wiki_link,tag)

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Navigation menu']

Heading in h1,h2, and h3 tags

In [60]:
webscraping(wiki_link,tags)

['Main Page',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Navigation menu',
 'Personal tools',
 'Namespaces',
 'Variants',
 'Views',
 'More',
 'Search',
 'Navigation',
 'Contribute',
 'Tools',
 'Print/export',
 'In other projects',
 'Languages']

In [61]:
pd.DataFrame({'Headings':webscraping(wiki_link,tags)}).to_csv('Heading.csv',index=False)

## Question 2

Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name,
IMDB rating, Year of release) and save it in form of a CSV file.

In [6]:
imdb_link='https://www.imdb.com/chart/top/?ref_=nv_mv_250'
tag='td'

In [7]:
def webscraping_imdb(link,tag):
    imdb_page=requests.get(link)
    imdb=BeautifulSoup(imdb_page.content)
    
    names=[]
    years=[]
    for x in imdb.find_all(tag,class_='titleColumn')[:100]:
        names.append(x.find('a').text)
        years.append(re.sub('[()]','',x.find('span').text))
        
    ratings=[]
    for x in imdb.find_all('td',class_='ratingColumn imdbRating')[:100]:
        ratings.append(x.text.replace('\n',''))
        
    df=pd.DataFrame({'Movie':names,'Rating':ratings,'Year_of_Release':years,})
    print(df)
    df.to_csv('imdb_top100movies.csv',index=False)

In [8]:
webscraping_imdb(imdb_link,tag)

                                    Movie Rating Year_of_Release
0                The Shawshank Redemption    9.2            1994
1                           The Godfather    9.1            1972
2                  The Godfather: Part II    9.0            1974
3                         The Dark Knight    9.0            2008
4                            12 Angry Men    8.9            1957
..                                    ...    ...             ...
95                     North by Northwest    8.3            1959
96                    Singin' in the Rain    8.3            1952
97  Eternal Sunshine of the Spotless Mind    8.3            2004
98                    Ladri di biciclette    8.3            1948
99                           Idi i smotri    8.3            1985

[100 rows x 3 columns]

## Question 3

Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e.
Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [9]:
imdb_ind_link='https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=8a7876cd-2844-4017-846a-2c0876945b7b&pf_rd_r=QA4JGCD0VVTMXZ85RHJ8&pf_rd_s=right-5&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_india_tr_rhs_1'
tag='td'

In [10]:
def webscraping_imdb_ind(link,tag):
    imdb_ind_page=requests.get(link)
    imdb_ind=BeautifulSoup(imdb_ind_page.content)
    
    names=[]
    years=[]
    for x in imdb_ind.find_all(tag,class_='titleColumn')[:100]:
        names.append(x.find('a').text)
        years.append(re.sub('[()]','',x.find('span').text))
        
    ratings=[]
    for x in imdb_ind.find_all('td',class_='ratingColumn imdbRating')[:100]:
        ratings.append(x.text.replace('\n',''))
        
    df=pd.DataFrame({'Movie':names,'Rating':ratings,'Year_of_Release':years,})
    print(df)
    df.to_csv('imdb_ind_top100movies.csv',index=False)

In [11]:
webscraping_imdb_ind(imdb_ind_link,tag)

                         Movie Rating Year_of_Release
0              Pather Panchali    8.5            1955
1                      Nayakan    8.5            1987
2                     Gol Maal    8.5            1979
3                   Anbe Sivam    8.5            2003
4                  Apur Sansar    8.5            1959
..                         ...    ...             ...
95                       Iqbal    8.1            2005
96                  Chhichhore    8.1            2019
97                       Lucia    8.0            2013
98                  Bommarillu    8.0            2006
99  The Legend of Bhagat Singh    8.0            2002

[100 rows x 3 columns]

## Question 4

Write a python program to scrap book name, author name, genre and book review of
any 5 books from ‘www.bookpage.com’

In [12]:
bk_link='https://bookpage.com/reviews'
tags=['h4','p','p','div']

In [18]:
def bookpage_scraping(link,tags):
    bk_page=requests.get(link)
    bk=BeautifulSoup(bk_page.content)
    driver=webdriver.Chrome(executable_path='D:\chromedriver.exe')
    driver.get(link)
    itag=iter(tags)
    
    tag=next(itag)
    bk_titles=[]
    for x in bk.find_all(tag,class_='italic')[:5]:
        bk_titles.append(x.text.replace('\n',''))
        
    tag=next(itag)    
    bk_authors=[]
    for x in bk.find_all(tag,class_='sans bold')[:5]:
        bk_authors.append(x.text.replace('\n',''))
    
    tag=next(itag)
    bk_genres=[]
    for x in bk.find_all(tag,class_='genre-links hidden-phone')[:5]:
        bk_genres.append(x.text.replace('\n',''))
        
    tag=next(itag)
    bk_reviews=[]
    for x in bk_titles:
        driver.find_element_by_link_text(x).click()
        time.sleep(0.8)
        current_bk_page=requests.get(driver.current_url)
        driver.get(link)
        time.sleep(0.8)

        current_bk=BeautifulSoup(current_bk_page.content)
        bk_reviews.append(current_bk.find(tag,class_='article-body').text.replace('\n',''))
        
    df=pd.DataFrame({'Book':bk_titles,'Author':bk_authors,'Genre':bk_genres,'Review':bk_reviews})
    df.to_csv('Book_df.csv',index=False)
    return df

In [19]:
bookpage_scraping(bk_link,tags)

,Book,Author,Genre,Review
0,A Special Place for Women,Laura Hankin,Fiction / Satirical Fiction,Laura Hankin’s A Special Place for Women has a...
1,Not Yeti,"Kelly DiPucchio, Claire Keane",Children's / Children's Picture Book,"A softhearted, cyan-colored creature, Yeti rea..."
2,Ophie’s Ghosts,Justina Ireland,Children's / Middle Grade,The bestselling author of the young adult nove...
3,The Plot,Jean Hanff Korelitz,Fiction / Popular Fiction,Not every 350-page novel can be torn through i...
4,Notes on Grief,Chimamanda Ngozi Adichie,Nonfiction / Memoir / Family & Relationships,What is the shape of grief? For writer Chimama...

## Question 5

Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You
have to scrape:
- Top 10 ODI teams in men’s cricket along with the records for matches, points and
rating.
- Top 10 ODI Batsmen in men along with the records of their team and rating.
- Top 10 ODI bowlers along with the records of their team and rating.

In [20]:
icc_link='https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
tag='tr'

In [21]:
def icc_scraping(link,tag):
    icc_page=requests.get(link)
    icc_odi=BeautifulSoup(icc_page.content)
    
    ranks=[]
    teams=[]
    matches=[]
    points=[]
    ratings=[]
    
    ranks.append(int(icc_odi.find(tag,class_='rankings-block__banner').find('td',class_='rankings-block__banner--pos').text))
    teams.append(icc_odi.find(tag,class_='rankings-block__banner').find('span',class_='u-hide-phablet').text)
    matches.append(int(icc_odi.find(tag,class_='rankings-block__banner').find('td',class_='rankings-block__banner--matches').text))
    points.append(icc_odi.find(tag,class_='rankings-block__banner').find('td',class_='rankings-block__banner--points').text)
    ratings.append(int(re.sub('[\n ]','',icc_odi.find(tag,class_='rankings-block__banner').find('td',class_='rankings-block__banner--rating u-text-right').text)))
    
    for team in icc_odi.find_all(tag,class_='table-body')[:9]:
        ranks.append(int(re.split('\n',team.text)[1]))
        teams.append(re.split('\n',team.text)[4])
        matches.append(int(re.split('\n',team.text)[7]))
        points.append(re.split('\n',team.text)[8])
        ratings.append(int(re.split('\n',team.text)[9]))
    
    df=pd.DataFrame({'Rank':ranks,'Team':teams,'Matches':matches,'Point':points,'Ratings':ratings})
    df.to_csv('MenODI_df.csv',index=False)
    return df

In [22]:
icc_scraping(icc_link,tag)

   Rank          Team  Matches  Point  Ratings
0     1   New Zealand       17  2,054      121
1     2     Australia       25  2,945      118
2     3         India       29  3,344      115
3     4       England       27  3,100      115
4     5  South Africa       20  2,137      107
5     6      Pakistan       24  2,323       97
6     7    Bangladesh       24  2,157       90
7     8   West Indies       27  2,222       82
8     9     Sri Lanka       21  1,652       79
9    10   Afghanistan       17  1,054       62

## Question 6

Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You
have to scrape:
- Top 10 ODI teams in women’s cricket along with the records for matches, points
and rating.
- Top 10 women’s ODI players along with the records of their team and rating.
- Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [25]:
wicc_link='https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
tag='tr'

In [26]:
def wicc_scraping(link,tag):
    icc_page=requests.get(link)
    icc_odi=BeautifulSoup(icc_page.content)
    
    ranks=[]
    teams=[]
    matches=[]
    points=[]
    ratings=[]
    
    ranks.append(int(icc_odi.find(tag,class_='rankings-block__banner').find('td',class_='rankings-block__banner--pos').text))
    teams.append(icc_odi.find(tag,class_='rankings-block__banner').find('span',class_='u-hide-phablet').text)
    matches.append(int(icc_odi.find(tag,class_='rankings-block__banner').find('td',class_='rankings-block__banner--matches').text))
    points.append(icc_odi.find(tag,class_='rankings-block__banner').find('td',class_='rankings-block__banner--points').text)
    ratings.append(int(re.sub('[\n ]','',icc_odi.find(tag,class_='rankings-block__banner').find('td',class_='rankings-block__banner--rating u-text-right').text)))
    
    for team in icc_odi.find_all(tag,class_='table-body')[:9]:
        ranks.append(int(re.split('\n',team.text)[1]))
        teams.append(re.split('\n',team.text)[4])
        matches.append(int(re.split('\n',team.text)[7]))
        points.append(re.split('\n',team.text)[8])
        ratings.append(int(re.split('\n',team.text)[9]))
    
    df=pd.DataFrame({'Rank':ranks,'Team':teams,'Matches':matches,'Point':points,'Ratings':ratings})
    df.to_csv('WomenODI_df.csv',index=False)
    return df

In [27]:
wicc_scraping(wicc_link,tag)

   Rank          Team  Matches  Point  Ratings
0     1     Australia       18  2,955      164
1     2  South Africa       24  2,828      118
2     3       England       17  1,993      117
3     4         India       20  2,226      111
4     5   New Zealand       21  1,947       93
5     6   West Indies       12  1,025       85
6     7      Pakistan       15  1,101       73
7     8    Bangladesh        5    306       61
8     9     Sri Lanka       11    519       47
9    10       Ireland        2     25       13

## Question 7

Write a python program to scrape details of all the mobile phones under Rs. 20,000
listed on Amazon.in. The scraped data should include Product Name, Price, Image URL
and Average Rating.

In [28]:
amazon_page=requests.get('https://www.amazon.in/s?bbn=1389401031&rh=n%3A1389401031%2Cp_36%3A1318506031&dc&qid=1620500039&rnid=1318502031&ref=lp_1389401031_nr_p_36_3')

In [29]:
amazon_page

- Hence Response is not 200 we cannot scrap this page data

Scraping Flipkart data Instead

In [30]:
flip_link='https://www.flipkart.com/search?sid=tyy%2C4io&otracker=CLP_Filters&p%5B%5D=facets.price_range.from%3DMin&p%5B%5D=facets.price_range.to%3D20000&p%5B%5D=facets.rating%255B%255D%3D4%25E2%2598%2585%2B%2526%2Babove'

In [44]:
def flipkart_scraping(links):
    flipkart_page=requests.get(links)
    flipkart=BeautifulSoup(flipkart_page.content)
    driver=webdriver.Chrome(executable_path='D:\chromedriver.exe')
    driver.get(links)
    
    mobiles=[]
    for x in flipkart.find_all('div',class_='_2kHMtA'):
        mobiles.append(x.find('div',class_='_4rR01T').text)
        
    prices=[]
    for x in flipkart.find_all('div',class_='_2kHMtA'):
        prices.append(x.find('div',class_='_30jeq3 _1_WHN1').text)
        
    urls=[]    
    for link in driver.find_elements_by_xpath('//div[@class="_2kHMtA"]/a'):
        urls.append(link.get_attribute('href'))
        
    img_srcs=[]
    for url in urls:
        driver.get(url)
        time.sleep(.8)
        img_srcs.append(driver.find_element_by_xpath('//div[@class="CXW8mj _3nMexc"]/img').get_attribute('src'))

        driver.get(links)
        time.sleep(.8)
        
    df=pd.DataFrame({'Mobile':mobiles,'Price':prices,'Image_URL':urls})
    df.to_csv('Flipkart_Mobile.csv',index=False)
    return df

In [45]:
flipkart_scraping(flip_link)

,Mobile,Price,Image_URL
0,"realme Narzo 20 (Victory Blue, 64 GB)","₹9,999",https://www.flipkart.com/realme-narzo-20-victo...
1,"realme Narzo 20 (Glory Silver, 64 GB)","₹9,999",https://www.flipkart.com/realme-narzo-20-glory...
2,"REDMI 9i (Sea Blue, 64 GB)","₹7,999",https://www.flipkart.com/redmi-9i-sea-blue-64-...
3,"realme Narzo 20 (Glory Silver, 128 GB)","₹10,999",https://www.flipkart.com/realme-narzo-20-victo...
4,"realme Narzo 20 (Victory Blue, 128 GB)","₹10,999",https://www.flipkart.com/realme-narzo-20-glory...
5,"realme C21 (Cross Black, 32 GB)","₹7,999",https://www.flipkart.com/poco-m3-cool-blue-64-...
6,"POCO M3 (Cool Blue, 64 GB)","₹10,999",https://www.flipkart.com/realme-narzo-30a-lase...
7,"realme Narzo 30A (Laser Black, 32 GB)","₹8,999",https://www.flipkart.com/realme-narzo-30a-lase...
8,"realme Narzo 30A (Laser Blue, 64 GB)","₹9,999",https://www.flipkart.com/realme-narzo-30a-lase...
9,"realme Narzo 30A (Laser Black, 64 GB)","₹9,999",https://www.flipkart.com/redmi-9i-midnight-bla...
10,"REDMI 9i (Midnight Black, 64 GB)","₹7,999",https://www.flipkart.com/realme-c21-cross-blac...
11,"POCO M3 (Power Black, 64 GB)","₹10,999",https://www.flipkart.com/realme-c21-cross-blue...
12,"realme C21 (Cross Blue, 32 GB)","₹7,999",https://www.flipkart.com/poco-m3-power-black-1...
13,"POCO M3 (Power Black, 128 GB)","₹11,999",https://www.flipkart.com/realme-c20-cool-blue-...
14,"realme C20 (Cool Blue, 32 GB)","₹6,799",https://www.flipkart.com/realme-c20-cool-grey-...
15,"realme C20 (Cool Grey, 32 GB)","₹6,799",https://www.flipkart.com/redmi-9-power-blazing...
16,"REDMI 9 Power (Blazing Blue, 64 GB)","₹10,499",https://www.flipkart.com/realme-narzo-30a-lase...
17,"realme Narzo 30A (Laser Blue, 32 GB)","₹8,999",https://www.flipkart.com/realme-c12-power-blue...
18,"realme C12 (Power Silver, 32 GB)","₹7,999",https://www.flipkart.com/realme-c12-power-silv...
19,"realme C12 (Power Blue, 32 GB)","₹7,999",https://www.flipkart.com/realme-c21-cross-blue...
20,"realme C21 (Cross Blue, 64 GB)","₹8,999",https://www.flipkart.com/realme-c25-watery-blu...
21,"realme C25 (Watery Blue, 64 GB)","₹9,999",https://www.flipkart.com/poco-m3-cool-blue-128...
22,"POCO M3 (Cool Blue, 128 GB)","₹11,999",https://www.flipkart.com/poco-m3-power-black-6...
23,"OPPO A53 (Mint Cream, 128 GB)","₹12,990",https://www.flipkart.com/redmi-9-power-electri...

## Question 8

Write a python program to extract information about the local weather from the National
Weather Service website of USA, https://www.weather.gov/ for the city, San
Francisco. You need to extract data about 7 day extended forecast display for the city.
The data should include period, short description, temperature and description.

In [46]:
weather_link='https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YJep3bUzZPY'

In [47]:
def weather_scraping(link):
    wheather_page=requests.get(link)
    wheather=BeautifulSoup(wheather_page.content)
    
    periods=[]
    temps=[]
    
    for x in wheather.find_all('li',class_='forecast-tombstone')[:7]:
        periods.append(x.find('p').text)
        try:
            temps.append(x.find('p',class_='temp temp-low').text)
        except:
            temps.append(x.find('p',class_='temp temp-high').text)
            
    decps=[]
    for x in wheather.find_all('div',class_='row row-odd row-forecast'):
        decps.append(x.find('div',class_='col-sm-10 forecast-text').text)
        
    df=pd.DataFrame({'Period':periods,'Temperature':temps,'Description':decps})
    df.to_csv('Whether_San-Francisco.csv',index=False)
    return df

In [48]:
weather_scraping(weather_link)

,Period,Temperature,Description
0,Today,High: 61 °F,"Mostly cloudy, then gradually becoming sunny, ..."
1,Tonight,Low: 50 °F,"Mostly cloudy, then gradually becoming sunny, ..."
2,Friday,High: 63 °F,"Mostly sunny, with a high near 65. Southwest w..."
3,FridayNight,Low: 51 °F,"Sunny, with a high near 64."
4,Saturday,High: 65 °F,"Partly sunny, with a high near 62."
5,SaturdayNight,Low: 52 °F,"Mostly sunny, with a high near 65."
6,Sunday,High: 64 °F,"Sunny, with a high near 67."