In [ ]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

In [2]:
import bs4
import  requests

In [3]:
from bs4 import BeautifulSoup

In [4]:
page=requests.get('https://en.wikipedia.org/wiki/Main_Page')
page

In [5]:
# page.content

In [6]:
soup=BeautifulSoup(page.content)

In [7]:
# print(soup)

In [8]:
# print(soup.prettify())

## 1. Wikipedia Scaping

#### Scraping Using attribute values in a specific tag

In [9]:
title_n=soup.find('span',class_='mw-headline')
title_n

In [10]:
print(title_n.text)
print(type(title_n.text))

From today's featured article
<class 'str'>

In [11]:
type(title_n)

bs4.element.Tag

In [12]:
st='Python \n world'

In [13]:
str.replace(st,'\n','')

'Python  world'

#### Scraping values from specific tag

In [14]:
title=soup.find_all('h1')

In [15]:
title

In [16]:
titles=soup.find_all(['h1','h2','h3'])

In [17]:
# titles

In [18]:
type(titles)

bs4.element.ResultSet

In [19]:
for title in titles:
    print(title.text)

Main Page
From today's featured article
Did you know ...
In the news
On this day
Today's featured picture
Other areas of Wikipedia
Wikipedia's sister projects
Wikipedia languages
Navigation menu

Personal tools


Namespaces


Variants


Views


More


Search


Navigation


Contribute


Tools


Print/export


In other projects


Languages

## 2. IMDB Top 100rating Movies

In [20]:
imdb_page=requests.get('https://www.imdb.com/chart/top/?ref_=nv_mv_250')

In [21]:
imdb_page

In [22]:
imdb=BeautifulSoup(imdb_page.content)

In [28]:
imdb.find('td',class_='titleColumn').find('a').text

'The Shawshank Redemption'

In [31]:
imdb.find('td',class_='titleColumn').find('span').text

'(1994)'

In [33]:
imdb.find('td',class_='ratingColumn imdbRating').text.replace('\n','')

'9.2'

In [34]:
import re

st='(1996)'

In [51]:
re.sub('[()]','',st)

'1996'

#### Selecting 100 movie details

In [60]:
names=[]
years=[]
for x in imdb.find_all('td',class_='titleColumn'):
    print(x.find('a').text)
    print(re.sub('[()]','',x.find('span').text))
    break

The Shawshank Redemption
1994

In [70]:
names=[]
years=[]
for x,n in zip(imdb.find_all('td',class_='titleColumn'),range(100)):
    names.append(x.find('a').text)
    years.append(re.sub('[()]','',x.find('span').text))

In [71]:
len(names)

100

In [72]:
len(years)

100

In [83]:
ratings=[]
for x,n in zip(imdb.find_all('td',class_='ratingColumn imdbRating'),range(100)):
    ratings.append(x.text.replace('\n',''))

In [84]:
len(ratings)

100

In [85]:
import pandas as pd
import numpy as np

In [86]:
pd.DataFrame({'Movie':names,'Rating':ratings,'Year_of_Release':years,})

                       Movie Rating Year_of_Release
0   The Shawshank Redemption    9.2            1994
1              The Godfather    9.1            1972
2     The Godfather: Part II    9.0            1974
3            The Dark Knight    9.0            2008
4               12 Angry Men    8.9            1957
..                       ...    ...             ...
95              Citizen Kane    8.3            1941
96                    Dangal    8.3            2016
97              Idi i smotri    8.2            1985
98                   The Kid    8.2            1921
99       Singin' in the Rain    8.2            1952

[100 rows x 3 columns]

## 3. IMDB’s Top rated 100 Indian movies

In [74]:
ind_imdb_page=requests.get('https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=8a7876cd-2844-4017-846a-2c0876945b7b&pf_rd_r=QA4JGCD0VVTMXZ85RHJ8&pf_rd_s=right-5&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_india_tr_rhs_1')

In [75]:
ind_imdb_page

In [76]:
ind_imdb=BeautifulSoup(ind_imdb_page.content)

In [77]:
movies=[]
release=[]
for x,n in zip(ind_imdb.find_all('td',class_='titleColumn'),range(100)):
    movies.append(x.find('a').text)
    release.append(re.sub('[()]','',x.find('span').text))

In [80]:
print(len(movies))
print(len(release))

100
100

In [81]:
Ratings=[]
for x,n in zip(ind_imdb.find_all('td',class_='ratingColumn imdbRating'),range(100)):
    Ratings.append(x.text.replace('\n',''))

In [82]:
pd.DataFrame({'Movie':movies,'Rating':Ratings,'Year_of_Release':release})

                         Movie Rating Year_of_Release
0              Pather Panchali    8.5            1955
1                     Gol Maal    8.5            1979
2                      Nayakan    8.5            1987
3                   Anbe Sivam    8.5            2003
4                  Apur Sansar    8.5            1959
..                         ...    ...             ...
95  The Legend of Bhagat Singh    8.0            2002
96                      Barfi!    8.0            2012
97                        Pink    8.0            2016
98                  Bommarillu    8.0            2006
99                      Bombay    8.0            1995

[100 rows x 3 columns]

## 4. BookPage Scraping

In [91]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait

In [185]:
driver=webdriver.Chrome(executable_path='D:\Data Science\Web Scraping\chromedriver.exe')

In [186]:
driver.get('https://bookpage.com/reviews')

In [162]:
book_page=requests.get(driver.current_url)

In [163]:
book=BeautifulSoup(book_page.content)

In [164]:
bk_titles=[]
for x,n in zip(book.find_all('h4',class_='italic')[1:],range(5)):
    bk_titles.append(x.text.replace('\n',''))

In [165]:
bk_titles

['Pawcasso',
 'The Most Beautiful Girl in Cuba',
 'Why Peacocks?',
 'The Last Thing He Told Me',
 'The Secret History of Home Economics']

In [166]:
bk_authors=[]

for x,n in zip(book.find_all('p',class_='sans bold')[1:],range(5)):
    bk_authors.append(x.text.replace('\n',''))

In [167]:
bk_authors

['Remy Lai',
 'Chanel Cleeton',
 'Sean Flynn',
 'Laura Dave',
 'Danielle Dreilinger']

In [168]:
bk_genres=[]

for x,n in zip(book.find_all('p',class_='genre-links hidden-phone')[1:],range(5)):
    bk_genres.append(x.text.replace('\n',''))

In [169]:
bk_genres

["Children's / Middle Grade",
 'Fiction / Historical Fiction',
 'Nonfiction / Science & Nature / Animals',
 'Fiction / Family Drama',
 "Nonfiction / History / Women's History"]

In [181]:
import time

bk_reviews=[]
for x in bk_titles:
    driver.find_element_by_link_text(x).click()
    time.sleep(0.8)
    current_bk_page=requests.get(driver.current_url)
    driver.get('https://bookpage.com/reviews')
    time.sleep(0.8)
    
    current_bk=BeautifulSoup(current_bk_page.content)
    bk_reviews.append(current_bk.find('div',class_='article-body').text.replace('\n',''))

In [184]:
pd.DataFrame({'Book':bk_titles,'Author':bk_authors,'Genre':bk_genres,'Review':bk_reviews})

,Book,Author,Genre,Review
0,Pawcasso,Remy Lai,Children's / Middle Grade,Pawcasso is a joyful graphic novel from acclai...
1,The Most Beautiful Girl in Cuba,Chanel Cleeton,Fiction / Historical Fiction,"Through her popular historical novels, bestsel..."
2,Why Peacocks?,Sean Flynn,Nonfiction / Science & Nature / Animals,"Have you ever thought, What my household needs..."
3,The Last Thing He Told Me,Laura Dave,Fiction / Family Drama,"In this era of domestic thrillers, a novel abo..."
4,The Secret History of Home Economics,Danielle Dreilinger,Nonfiction / History / Women's History,Whatever stereotypes we associate with the pro...

In [187]:
driver.quit()