In [371]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import time
import re

from selenium import webdriver
from selenium.webdriver.common.keys import Keys

## Question 1

Write a python program to scrape data for “Data Analyst” Job position in
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.

1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore”
in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [3]:
driver=webdriver.Chrome('D:\Data Science\Web Scraping\chromedriver.exe')

In [4]:
driver.get('https://www.naukri.com/')

In [14]:
# Finding the skill input filed using name attribute
inp_skills=driver.find_element_by_name('keyword')
inp_skills.clear()
inp_skills.send_keys('Data Analyst')

# Finding the location input filed using name attribute
inp_loc=driver.find_element_by_name('location')
inp_loc.clear()
inp_loc.send_keys('Bangalore')

#finding the search botton using class attribute
submit_btn=driver.find_element_by_class_name('btn')
submit_btn.click()

In [86]:
titles=[]
locs=[]
cnames=[]
exps=[]

# extractiong Job titles
for title in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')[:10]:
    titles.append(title.text)
    
# extractiong Company name
for cname in driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')[:10]:
    cnames.append(cname.text)

#extracting locations
for loc,n in zip(driver.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16"]')[2::3],range(10)):
    locs.append(loc.text)

#extractiong experience    
for exp,n in zip(driver.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16"]')[::3],range(10)):
    exps.append(exp.text)

In [87]:
print(len(titles),len(locs),len(cnames),len(exps))

10 10 10 10

In [ ]:
DA_df=pd.DataFrame({'Job Title':titles,'Location':locs,
             'Company Name':cnames,'Experience':exps})

In [94]:
DA_df

,Job Title,Location,Company Name,Experience
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Data Analyst,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,0-2 Yrs
2,Hiring Data Analysts For E commerce Platform |...,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,0-5 Yrs
3,Data Analyst,Bangalore/Bengaluru,Shell India Markets Private Limited,5-8 Yrs
4,Data Analyst,Bangalore/Bengaluru,Applied Materials,7-10 Yrs
5,DA - Urgent Opening For Data Analyst BFSI Doma...,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Tata Consultancy Services Ltd.,4-9 Yrs
6,Data Analyst,Bangalore/Bengaluru,Shell India Markets Private Limited,5-8 Yrs
7,Assistant Vice President - MIS & Reporting ( B...,"Mumbai, Bangalore/Bengaluru",INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs
8,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
9,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs

In [109]:
driver.quit()

## Question 2

Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter
“Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [129]:
driver=webdriver.Chrome('D:\chromedriver.exe')

In [130]:
driver.get('https://www.naukri.com/')

In [131]:
# Finding the skill input filed using name attribute
inp_skills=driver.find_element_by_name('keyword')
inp_skills.clear()
inp_skills.send_keys('Data Scientist')

# Finding the location input filed using name attribute
inp_loc=driver.find_element_by_name('location')
inp_loc.clear()
inp_loc.send_keys('Bangalore')

#finding the search botton using class attribute
submit_btn=driver.find_element_by_class_name('btn')
submit_btn.click()

In [132]:
ds_urls=driver.current_url

In [137]:
driver.get(ds_urls)

In [139]:
titles=[]
locs=[]
cnames=[]
exps=[]

# extractiong Job titles
for title in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')[:10]:
    titles.append(title.text)
    
# extractiong Company name
for cname in driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')[:10]:
    cnames.append(cname.text)

#extracting locations
for loc,n in zip(driver.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16"]')[2::3],range(10)):
    locs.append(loc.text)

#extractiong experience    
for exp,n in zip(driver.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16"]')[::3],range(10)):
    exps.append(exp.text)

In [140]:
#extraction job description
urls=[]
for x in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')[:10]:
    urls.append(x.get_attribute('href'))

despts=[]
for url in urls:
    driver.get(url)
    time.sleep(0.8)
    try:
        despts.append(driver.find_element_by_xpath('//div[@class="dang-inner-html"]').text)
    except:
        despts.append(driver.find_element_by_xpath('//div[@class="clearboth description"]').text)
    driver.get(ds_urls)
    time.sleep(0.8)

In [142]:
len(despts)

10

In [143]:
DS_df=pd.DataFrame({'Job Title':titles,'Location':locs,
             'Company Name':cnames,'Experience':exps,'Description':despts})

In [144]:
DS_df

,Job Title,Location,Company Name,Experience,Description
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs,Job Role : Data Scientist/Data Analyst /Busine...
1,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",CES Ltd.,2-7 Yrs,Roles and Responsibilities\n\nMandatory Skills...
2,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",CES Ltd.,2-7 Yrs,Roles and Responsibilities\n\nMandatory Skills...
3,Analytics & AI Product Mgmt - Sr. Data Scientist,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,10-12 Yrs,Given the increased focus on data and analytic...
4,Senior Data Scientist,"Pune, Chennai, Bangalore/Bengaluru",Vijaya Management Services,5-10 Yrs,.\nRoles and Responsibilities\nAnalyze structu...
5,"Senior Data Scientist, Modeling","Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Nielsen,3-7 Yrs,"We wont say we can predict the future, but our..."
6,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,5-8 Yrs,As a Data Scientist in the IBM Garage team you...
7,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,4-9 Yrs,"Introduction\nAs a Data Scientist at IBM, you ..."
8,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,5-8 Yrs,"Introduction\nAs a Data Scientist at IBM, you ..."
9,Senior Data Scientist - Credit risk,Bangalore/Bengaluru,Scienaptic Systems,5-10 Yrs,Responsibilities and duties Focus on developin...

In [145]:
driver.quit()

## Question 3

In this question you have to scrape data using the filters available on the
webpage as shown below:

You have to use the location and salary filter.

You have to scrape data for “Data Scientist” designation for first 10 job results.

You have to scrape the job-title, job-location,      company_name,experience_required.

The location filter to be used is “Delhi/NCR”

The salary filter to be used is “3-6” lakhs

The task will be done as shown in the below steps:

1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [306]:
driver=webdriver.Chrome('D:\chromedriver.exe')

In [307]:
driver.get('https://www.naukri.com/')

In [308]:
# Finding the skill input filed using name attribute
inp_skills=driver.find_element_by_name('keyword')
inp_skills.clear()
inp_skills.send_keys('Data Scientist')

#finding the search botton using class attribute
btn=driver.find_element_by_class_name('search-btn')
btn.click()

In [309]:
#Clicking location filter Delhi/NCR
driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]/label/i').click()

In [310]:
#Clicking salary filter 3-6 Lakhs
driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/i').click()

In [313]:
#Scraping job title
titles=[]
for x in driver.find_elements_by_xpath('//div[@class="info fleft"]/a')[:10]:
    titles.append(x.text.replace('\n',''))
    
 # Scraping Companies   
companies=[]
for x in driver.find_elements_by_xpath('//div[@class="mt-7 companyInfo subheading lh16"]/a[@class="subTitle ellipsis fleft"]')[:10]:
    companies.append(x.text.replace('\n',''))
    
# Scraping Experience    
exps=[]
for x in driver.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16"]')[0::3][:10]:
    exps.append(x.text.replace('\n',''))
    
# Scraping locations        
locs=[]
for x in driver.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16"]')[2::3][:10]:
    locs.append(x.text.replace('\n',''))

In [314]:
Company_df=pd.DataFrame({'Title':titles,'Company':companies,'Experience':exps,'Location':locs})
Company_df

,Title,Company,Experience,Location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Data Scientist - High growth VC backed Influen...,Ravgins International Pvt. Ltd.,3-5 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
2,Excellent opportunity For Data Scientist,NEC CORPORATION INDIA PRIVATE LIMITED,3-7 Yrs,"Noida, Bangalore/Bengaluru"
3,Data Scientist,Mobikwik,3-5 Yrs,"New Delhi, Gurgaon/Gurugram, Delhi / NCR"
4,DATA Scientist – Gurgaon (Exp 3-6 years),CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs,"Gurgaon/Gurugram, Delhi / NCR"
5,DATA Scientist – Gurgaon (Exp 3-6 years),CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs,"Gurgaon/Gurugram, Delhi / NCR"
6,Data Scientist - Noida,Optum Global Solutions (India) Private Limited,3-5 Yrs,Noida
7,Data Scientist - Noida/ B'lore,NEC CORPORATION INDIA PRIVATE LIMITED,3-8 Yrs,"Noida, Bangalore/Bengaluru"
8,Data Scientist,IBM India Pvt. Limited,4-9 Yrs,"Noida, Hyderabad/Secunderabad, Bangalore/Benga..."
9,Data Scientist,Cloudstrats Technologies Private Limited,5-8 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."

In [315]:
driver.quit()

## Question 4

Write a python program to scrape data for first 10 job results for Data scientist
Designation in Noida location. You have to scrape company_name, No. of days
ago when job was posted, Rating of the company.

This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
3. Then click the search button. You will land up in the below page:
4. Then scrape the data for the first 10 jobs results you get in the above shown page.
5. Finally create a dataframe of the scraped data.

In [316]:
driver=webdriver.Chrome('D:\chromedriver.exe')

In [330]:
driver.get('https://www.glassdoor.co.in/index.html')

In [331]:
driver.find_element_by_xpath('/html/body/div[2]/div/div/div/div/div[1]/article/a').click()

In [332]:
inp_title=driver.find_element_by_name('sc.keyword')
inp_title.clear()
inp_title.send_keys('Data Scientist')

inp_loc=driver.find_element_by_xpath('/html/body/header/nav/div[2]/div/div/div[2]/form/div/div[3]/div/input')
inp_loc.clear()
inp_loc.send_keys('Noida')

driver.find_element_by_xpath('/html/body/header/nav/div[2]/div/div/div[2]/form/div/button').click()

In [350]:
#Scraping company names
cnames=[]
for x in driver.find_elements_by_xpath('//div[@class="d-flex justify-content-between align-items-start"]/a[@class=" css-l2wjgv e1n63ojh0 jobLink"]')[:10]:
    cnames.append(x.text)

In [351]:
#Scraping Rating
ratings=[]
for x in driver.find_elements_by_xpath('//div[@class="d-flex flex-column css-x75kgh e1rrn5ka3"]/span')[:10]:
    ratings.append(x.text)

In [352]:
#Scraping number of days job posted
nodays=[]
for x in driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]')[:10]:
    nodays.append(x.text)

In [355]:
Company_data=pd.DataFrame({'Company Name':cnames,'Raing':ratings,'No Days Posted':nodays}).replace('',np.NAN)
Company_data

               Company Name Raing No Days Posted
0                   Bechtel   4.0            13d
1          Mansha Solutions   NaN             5d
2                MasterCard   NaN            18d
3  Lantern Digital Services   NaN             4d
4                  Ericsson   NaN            NaN
5                       NaN   NaN            NaN
6                       NaN   NaN            NaN
7                       NaN   NaN            NaN
8                       NaN   NaN            NaN
9                       NaN   NaN            NaN

In [356]:
driver.quit()

## Question 5

Write a python program to scrape the salary data for Data Scientist designation
in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.
6. Store the data in a dataframe.

In [357]:
driver=webdriver.Chrome('D:\chromedriver.exe')

In [358]:
driver.get('https://www.glassdoor.co.in/Salaries/index.html')

In [360]:
inp_title=driver.find_element_by_xpath('//*[@id="KeywordSearch"]')
inp_title.clear()
inp_title.send_keys('Data Scientist')

inp_loc=driver.find_element_by_xpath('/html/body/div[3]/div/div[1]/div[1]/div/div/form/input[6]')
inp_loc.clear()
inp_loc.send_keys('Noida')

driver.find_element_by_xpath('//*[@id="HeroSearchButton"]').click()

In [403]:
cnames=[]
for x in driver.find_elements_by_xpath('//p[@class="m-0 "]')[:10]:
    cnames.append(x.text)

In [402]:
avgsals=[]
for x in driver.find_elements_by_xpath('//p[@class="d-block d-md-none m-0"]')[:10]:
    avgsals.append(x.text)

In [401]:
minsals=[]
maxsals=[]
for x in driver.find_elements_by_xpath('//p[@class="d-block d-md-none m-0 css-1kuy7z7"]')[:10]:
    st=re.findall('\d+',x.text)
    if len(st)==3:
        minsal=float(st[0])*1000
        maxsal=float(st[1]+st[2])*1000
    elif len(st)==4:
        minsal=float(st[0]+st[1])*1000
        maxsal=float(st[2]+st[3])*1000
    else:
        continue
    minsals.append(minsal)
    maxsals.append(maxsal)

In [405]:
Glassdoor_df=pd.DataFrame({'Company':cnames,'Average Salary':avgsals,'Minimum Salary':minsals,'Maximum Salary':maxsals})
Glassdoor_df

                     Company  Average Salary  Minimum Salary  Maximum Salary
0  Tata Consultancy Services   ₹ 6,11,228/yr        343000.0       1095000.0
1                  Accenture  ₹ 11,46,533/yr        577000.0       2213000.0
2                        IBM   ₹ 8,97,795/yr        586000.0       2730000.0
3         Ericsson-Worldwide   ₹ 7,38,057/yr        355000.0       1613000.0
4                  Delhivery  ₹ 12,39,781/yr        450000.0      11622000.0
5         UnitedHealth Group  ₹ 13,36,142/yr       1069000.0       1520000.0
6         Valiance Solutions   ₹ 8,15,192/yr        502000.0       1465000.0
7              ZS Associates  ₹ 11,35,221/yr        202000.0       1809000.0
8                EXL Service  ₹ 11,44,243/yr        575000.0       1520000.0
9     Optum Global Solutions  ₹ 14,13,288/yr       1014000.0       2149000.0

In [406]:
driver.quit()

## Question 6

Scrape data of first 100 sunglasses listings on flipkart.com. You have to
scrape four attributes: Brand, Product Description, Price, Discount %

1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.

In [437]:
driver=webdriver.Chrome('D:\chromedriver.exe')

In [444]:
driver.get('https://www.flipkart.com/')

In [445]:
try:
    driver.find_element_by_xpath('/html/body/div[2]/div/div/button').click()
except:
    pass

In [446]:
inp_cat=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
inp_cat.clear()
inp_cat.send_keys('Sunglasses')

driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()

In [447]:
def appends():
    for x in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
        brands.append(x.text.replace('\n',''))
    
    for x in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):
        details.append(x.text.replace('\n',''))
    
    for x in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
        prices.append(x.text.replace('\n',''))
    
    for x in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):
        disnts.append(x.text.replace('\n',''))

In [448]:
def nextpage():
    try:
        next_page=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
        next_page.click()
        
    except:
        driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]').click()

In [449]:
brands=[]
details=[]
prices=[]
disnts=[]
while len(brands)<=100:
    appends()        
    
    driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    time.sleep(.8)

In [452]:
Flipkart_df=pd.DataFrame({'Brands':brands[:100],'Product':details[:100],'Price':prices[:100],'Discount':disnts[:100]})
Flipkart_df

,Brands,Product,Price,Discount
0,AISLIN,"UV Protection, Gradient Round, Shield Sunglass...",₹395,77% off
1,like future,"UV Protection, Polarized, Gradient, Mirrored W...",₹284,71% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹630,21% off
4,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹399,80% off
...,...,...,...,...
95,Ray-Ban,Mirrored Round Sunglasses (51),"₹8,607",15% off
96,AISLIN,"UV Protection, Mirrored Aviator Sunglasses (58)",₹606,75% off
97,FLYING MACHINE,"UV Protection, Gradient Aviator Sunglasses (52)",₹508,57% off
98,FOSSIL,"Gradient, Mirrored, UV Protection, Polarized R...","₹2,739",37% off
99,NuVew,Gradient Round Sunglasses (Free Size),₹419,66% off

In [453]:
driver.quit()

## Question 8

Scrape data for first 100 sneakers you find when you visit flipkart.com and
search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [454]:
driver=webdriver.Chrome('D:\chromedriver.exe')

In [465]:
driver.get('https://www.flipkart.com/')

In [456]:
try:
    driver.find_element_by_xpath('/html/body/div[2]/div/div/button').click()
except:
    pass

In [466]:
inp_cat=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
inp_cat.clear()
inp_cat.send_keys('Sneakers')

driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()

In [467]:
def appends():
    for x in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
        brands.append(x.text.replace('\n',''))
    
    for x in driver.find_elements_by_xpath('//a[@class="IRpwTa _2-ICcC"]'):
        details.append(x.text.replace('\n',''))
    
    for x in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
        prices.append(x.text.replace('\n',''))
    
    for x in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):
        disnts.append(x.text.replace('\n',''))

In [468]:
brands=[]
details=[]
prices=[]
disnts=[]
while len(brands)<=100:
    appends()        
    
    driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]').click()
    time.sleep(.8)

In [469]:
print(len(brands),len(details),len(prices),len(disnts))

120 31 120 119

In [471]:
Flikart_Sneakers=pd.DataFrame({'Brands':brands[:100],'Price':prices[:100],'Discount':disnts[:100]})
Flikart_Sneakers

          Brands   Price Discount
0   Robbie jones    ₹399  60% off
1           aadi    ₹298  70% off
2        Numenzo    ₹398  60% off
3       HOTSTYLE    ₹283  43% off
4   Robbie jones    ₹474  52% off
..           ...     ...      ...
95         Birde    ₹698  43% off
96          PUMA  ₹3,931  50% off
97          Qtsy    ₹249  62% off
98     well feet    ₹375  74% off
99      VISTAARA    ₹251  50% off

[100 rows x 3 columns]

In [470]:
for x in driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[@class="IRpwTa _2-ICcC"]'):
        print(x.text.replace('\n',''))

Faux Leather Casual Shoes White Colour | New Sneakers s...
jeans casual sneakers for cool look denim shoes (blue) ...
EVAW2 Sneakers For Men
casual , Partywear Sneakers , Denim Sneakers For Men , ...
Sneakers For Men
Sneakers For Men
Casual Sneakers Sneakers For Men
Sneakers For Men
Rockstyle Trending Multicolor Ultralight canvas Sport/ ...
men sneakers Sneakers For Men
Sneakers For Men
Street Smart Sneakers For Men

Product details have different class names, so its difficult to scrap product details for this question

In [472]:
driver.quit()

## Question 7

Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to
go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

These are
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [473]:
driver=webdriver.Chrome('D:\chromedriver.exe')

In [474]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [475]:
#Moving to review page
driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a').click()

In [482]:
def appends():
    for x in driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]'):
        ratings.append(x.text)
        
    for x in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):
        comments.append(x.text)
        
    for x in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]'):
        reviews.append(x.text.replace('\n',''))

In [484]:
ratings=[]
comments=[]
reviews=[]
while len(comments)<=100:
    appends()        
    
    driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]').click()
    time.sleep(.8)

In [488]:
Iphone_df=pd.DataFrame({'Ratings':ratings[:100],'Comments':comments[:100],'Review':reviews[:100]})
Iphone_df

,Ratings,Comments,Review
0,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.I’m am ver...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,4,Good choice,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,5,Really Awesome,Apple products though quite expensive still ke...
96,5,Best in the market!,Awesome Device thanks aapplee for this great d...
97,5,Slightly disappointed,Most disappointing aspect is that Apple in the...
98,4,Just wow!,buy this product u will never regret... feel h...
99,5,Mind-blowing purchase,2nd iPhone after iPhone 6 and upgrade from Goo...

In [489]:
driver.quit()

## Question 9

Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in
the below image
And then scrape First 100 shoes data you get. The data should include “Brand” of
the shoes , Short Shoe description, price of the shoe as shown in the below image.
Please note that applying the filter and scraping the data , everything should be
done through code only and there should not be any manual step.

In [490]:
driver=webdriver.Chrome('D:\chromedriver.exe')

In [493]:
driver.get('https://www.myntra.com/shoes')

In [ ]:
# Selecting price filter
driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/input').click()

## Question 10

Go to webpage https://www.amazon.in/
 Enter “Laptop” in the search field and then click the search icon.
 Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the
below image:
    
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes
for each laptop:
1. title
2. Ratings
3. Price

In [ ]:
driver=webdriver.Chrome('D:\chromedriver.exe')

In [ ]:
driver.get('https://www.amazon.in/')